<div class="dialog__component" cdkDropListGroup>
  <h1>Strona drag and drop</h1>
  <p>drag and drop component</p>

  <mat-grid-list cols="2">
    <mat-grid-tile
      cdkDropList
      class="transport__list"
      #listTravelTime="cdkDropList"
      [cdkDropListData]="TRAVELTIMES"
      cdkDropListConnectedTo="[listTransports]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate">
      <div class="transport__box"
           cdkDragLockAxis="y"
           cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        Travel time
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="seperator"></mat-grid-tile>
    <mat-grid-tile
      cdkDropList
      class="transport__list"
      #listTransports="cdkDropList"
      [cdkDropListData]="TRANSPORTS"
      cdkDropListConnectedTo="[listTravelTime]"
      (cdkDropListDropped)="drop($event)">
      <div class="transport__box"
           *ngFor="let transport of TRANSPORTS"
           cdkDragLockAxis="y"
           cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div [ngClass]="{transport__travelTime__box: transport.isTravelTime}">
          {{transport.title}}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <app-dragscroll></app-dragscroll>
</div>
